{% extends "layout.html" %}
{% block body %}

<div class="content-section-b"
    style="background-image: url('../static/deer.jpg');background-size:cover;background-position:center;
    color:whitesmoke;">

        <div class="container">

            <div class="row" style="padding-top:26px;">
                <div class="col-lg-5 col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Olivia Garrett</h2>
                    <h4>Lead Organizer</h4>
                    <p class="lead">
                        Olivia is a lifelong Alaskan with a passion for organizing and people-powered campaigns.
                        She was a regional field director for the Alaska Bernie Sanders campaign in 2016, winning 82% of the vote.
                        Her work on the Sanders campaign allowed her to connect with the most passionate voters and organizers in all 40 house districts.
                        She went on to do more campaign work, helping secure a bipartisan majority in the state house.
                        Olivia recently left a job as a legislative aide to a Fairbanks state representative to join the Datashark team.
                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6" style="">
                    <img class="img-thumbnail" style="margin-top: 26px;height:300px; width: 300px;background-img: whitesmoke;padding:6px" src="../static/olivia2.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

</div>

<div class="content-section-a"
    style="background-image: url('../static/woods.jpg');background-size:cover;background-position:top;
    color:#e4e4e4;">



        <div class="container">

            <div id="josh" class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Josh Spring</h2>
                    <h4>Local Election Specialist</h4>
                    <p class="lead">
                         Josh is a lifelong Alaskan and veteran political operative with experience on over 20 winning campaigns.
                        Josh was instrumental in securing a bipartisan majority in the Alaska state house in 2016, the 2017 progressive sweep of the Anchorage Assembly, as well as Ethan Berkowitz's 2015 Anchorage mayoral election.
                        His five years of experience as an assembly aide have given him unique insights into the concerns of Anchorage voters. Also
                        a certified paralegal, Josh brings a valuable set of experience and skills to his campaigns.
                    </p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6" style="">
                    <img class="img-thumbnail" style="margin-top: 6px;height:300px; width: 300px;background-img: whitesmoke;padding:6px" src="../static/josh.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

</div>

<div class="content-section-b"
    style="background-image: url('../static/wood.jpg');background-size:cover;background-position:center;
    color:black;">

        <div class="container">

            <divclass="row">
                <div class="col-lg-5 col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Paul Oliva</h2>
                    <h4>Product Development</h4>
                    <p class="lead">
                        Paul studied Computer Systems Engineering at the University of Alaska-Anchorage before dropping out to take a job at a Silicon Valley startup.
                        When he founded DataShark with Joshua Spring in May 2017, he told his California boss he'd be working remotely from now on, loaded up his van, and headed back to Alaska.
                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6" style="">
                    <img class="img-thumbnail" style="margin-top: 6px;height:300px; width: 300px;background-img: whitesmoke;padding:6px" src="../static/paul.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

</div>



{% endblock %}
