{% extends "layout.html" %}
{% block body %}

    <div class="intro-header">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h3>Turbocharge your data. Win your campaign.</h3>
                        <img src="../static/GamesharkLogo.png" />
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li><a href="mailto:admin@datashark.io" class="btn btn-default btn-lg"><i class="fa fa-laptop fa-fw"></i> <span class="network-name">Book a Demo</span></a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <div class="content-section-a">

        <div class="container">

            <div id="services" class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Find donors you never knew were out there.</h2>
                    <p class="lead">
                        Our advanced algorithm analyzes donation histories and creates custom call lists just for you.
                        See donors that gave to your prior campaigns, donors to other campaigns like yours, and new likely donors who haven't donated before.
                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="../static/placeit.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Save time on your APOC Reports.</h2>
                    <p class="lead">
                        APOC compliance has never been easier. Datashark can track your donors and expenses. We notify you before your next APOC report is due and generate an Excel file you can upload directly to the state website.
                    </p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="../static/3992.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Hit your call targets every time.</h2>
                    <p class="lead">
                        Our experienced team of campaign veterans is standing by to help your campaign reach its outreach goals. Just send us a call list and we'll handle the rest. Confidently focus on the big picture while we handle the important details for you.
                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="../static/3491.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

{% endblock %}
