{% extends "layout.html" %}
{% block body %}

    <div class="intro-header">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message" style="padding: 20% 0">
                        <h3>Login to DataShark</h3>
                        <img src="../static/GamesharkLogo.png" />
                        <p class="text-danger">{{ error }}</p>
                        <div style="width: 100%; padding: 0 33%">
                           <form class="login-form" action="/login" method="post">
                            <input class="form-control" type="text" name="username" placeholder="User Name" style="color: black; background-color: whitesmoke"/> <br/>
                            <input class="form-control" type="password" name="password" placeholder="Password" style="color: black; background-color: whitesmoke"/> <br/>
                            <input class="btn-primary" type="submit">
                        </form>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

{% endblock %}


